<!DOCTYPE html>
<html>
  <head>
    <title>Twutter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- TODO: Move the header to a helper function)-->

    <!-- TODO: Remove this block (eventually) -->
    <strong>
      <% if current_user %>
        <%= "[DEBUG] You are currently signed in as: #{current_user.username}" %>
      <% end %>
    </strong>
    <!------------------------------------------>

    <header>
      <%= link_to 'Home', '/' %>
      <% unless current_user %>
        <%= link_to 'Sign Up', new_user_registration_path %>
        <%= link_to 'Sign In', new_user_session_path %>
      <% else %>
        <%= link_to 'Feed', posts_path %>
        <%= link_to 'MyFeed', myfeed_user_path(current_user.id) %>
        <%= link_to 'Friends', friendships_path %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
